/* Base styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1f242c; /* Pale blue background color */
    color: white;
}

/* Main container styles */
.main {
    background-image: url("assets/images/underwater.jpg"); /* Default for larger screens (desktop/laptop) */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    position: relative;
    overflow: hidden;
    /* animation: slideshow 300s infinite; */
}

/* Background image for mobile devices */
@media screen and (max-width: 768px) {
    .main {
        background-image: url("assets/images/mobile1.jpg"); /* Mobile-specific background */
    }
}

.main .box {
    height: 100%; /* Full height of the parent */
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero > :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero > :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero > :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.container {
    text-align: center;
    margin-top: 50px;
}

#writing-text {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite, erase-write 4s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

@keyframes erase-write {
    0%, 30% { content: "Video on Security Research paper coming soon!"; }
    35%, 100% { content: ""; }
}

/* Media queries for other styles */
@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img, .secImg video {
        width: 305px;
    }

    .hero > :nth-child(1) {
        font-size: 32px;
    }

    .hero > :nth-child(2) {
        font-size: 18px;
    }

    .hero > :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .hero > :nth-child(1) {
        font-size: 24px;
    }

    .hero > :nth-child(2) {
        font-size: 16px;
    }

    .hero > :nth-child(3) {
        font-size: 14px;
    }

    .btn-red {
        font-size: 18px;
        padding: 3px 12px;
    }

    .main input {
        width: 100%;
        padding: 7px 10px;
    }
}

@media screen and (max-width: 430px) {
    .hero {
        height: auto;
        padding: 20px;
    }

    .hero > :nth-child(1) {
        font-size: 20px;
    }

    .hero > :nth-child(2) {
        font-size: 14px;
    }

    .hero > :nth-child(3) {
        font-size: 12px;
    }

    .btn-red {
        font-size: 16px;
        padding: 3px 8px;
    }

    .container {
        margin-top: 20px;
    }

    .main input {
        width: calc(100% - 20px);
        padding: 7px;
    }

    .about-link {
        font-size: 14px;
    }

    .separation {
        height: 5px;
    }
}
